body {
  background-color: grey;
}

header {
  
}

nav {
  background-color: white;
  height: 40px;
}

nav li {
  list-style: none;
  display: inline;
}

footer {
  background-color: red;

  position: absolute;
  bottom: 0;
  height: 25%;
}

#mainArea {

}
